// breadcrumbs
.breadcrumbs_header {
	text-align: center;
}
.breadcrumbs {
	color: #fff;
}
.breadcrumbs ol.breadcrumb {
	margin-bottom: 0px;
}
.breadcrumbs ol.breadcrumb span {
	font-size: 16px;
}

.breadcrumbs ol.breadcrumb span a {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs ol.breadcrumb span a:hover {
	color: var(--color-secondary);
	text-decoration: underline;
}
.breadcrumbs ol.breadcrumb span .breadcrumb_last {
	color: var(--color-secondary);
}
