.buscador {
	position: relative;
}
.buscador label {
	font-size: 0px;
	position: absolute;
	top: 0;
	left: 0;
}
.buscador input {
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border: 0;
	padding: 0 10px;
}
.buscador button {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	border: 0;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}
.buscador button i {
	color: #fff;
}
@media screen and (width <= 850px) {
	.buscador {
		display: none;
	}
}
