/* HEADER_SECCIONES */
.header_secciones header {
	width: 100%;
	min-height: 150px;
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-color: #0e2c70;
}
.header_secciones header h1 {
	color: var(--color-bg);
	font-size: clamp(45px, 8vw, 70px);
	font-weight: lighter;
	text-align: center;
}
.header_secciones header span {
	color: var(--color-secondary);
	font-size: 20px;
	z-index: 1;
}
.header_secciones header small,
.header_secciones header small b {
	z-index: 1;
	color: var(--color-bg);
	font-weight: lighter;
	text-align: center;
}

.header_secciones .contenido {
	margin: 50px auto;
	border-bottom: 1px solid var(--color-secondary);
}
.header_secciones .contenido.row,
.header_secciones .tags.row,
.header_secciones .btn_return.row {
	max-width: 1000px;
}
.header_secciones .contenido p,
.header_secciones .contenido ul,
.header_secciones .contenido ol,
.header_secciones .contenido img,
.header_secciones .contenido h2,
.header_secciones .contenido h3,
.header_secciones .contenido h4,
.header_secciones .contenido h5,
.header_secciones .contenido h6 {
	margin-bottom: 20px;
}
.header_secciones .contenido h2,
.header_secciones .contenido h3,
.header_secciones .contenido h4,
.header_secciones .contenido h5,
.header_secciones .contenido h6 {
	color: var(--color-primary);
}
.header_secciones .contenido ul,
.header_secciones .contenido ol {
	margin-left: 20px;
}
.header_secciones .contenido img {
	max-width: 900px;
	width: 100%;
	margin: 0 auto 20px;
}
.header_secciones .contenido p {
	line-height: 18px;
}
.header_secciones .contenido a {
	color: #0078d7;
}

@media screen and (max-width: 650px) {
	.header {
		height: 70px;
	}
}
