.nav {
	height: 100%;
	/* background-color: green; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.logo {
	/* width: 60px; */
}
.icon {
	display: none;
}
.current-menu-item a {
	// border-bottom: 2px solid var(--color-secondary) !important;
	color: var(--color-secondary) !important;
}
.nav_items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	list-style: none;
}
.nav_items a {
	text-decoration: none;
	color: var(--color-bg);
}
.nav_items a:hover {
	color: var(--color-secondary);
}
.content_nav {
	display: flex;
	gap: 15px;
	align-items: center;
}
.cta a {
	color: var(--color-text);
	text-decoration: none;
	background: var(--color-secondary);
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
}
.cta a:hover {
	scale: 1.1;
}
.cta a i {
	color: var(--color-text);
}

@media screen and (max-width: 1050px) {
	.icon {
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: var(--color-bg);
		color: #fff;
		font-size: 18px;
		border-radius: 5px;
		cursor: pointer;
	}
	.nav .content_nav {
		position: relative;
	}
	.nav .content_nav span {
		line-height: 40px;
	}

	.nav .content_nav span.fa-xmark {
		display: none;
	}
	.nav_items {
		display: none;
	}
	.nav .content_nav .nav_items {
		display: none;
		position: absolute;
		background-color: var(--color-primary);
		right: 0px;
		top: 70px;
		width: 800px;
		padding: 20px;
		border-top: 1px solid var(--color-primary);
		border-radius: 0 0 5px 5px;
	}
	.nav .content_nav .nav_items li a {
		color: #fff;
	}
	.nav .nav_items {
		flex-direction: column;
	}
	.nav .nav_items li {
		margin: 5px 0;
	}
	.nav .nav_items li a {
		padding: 10px;
		display: block;
		width: 100%;
		border-radius: 3px;
		text-align: left;
		text-decoration: none;
	}
	.nav .nav_items li a:hover {
		background-color: var(--color-secondary);
		color: var(--color-primary) !important	;
	}
}
@media screen and (max-width: 850px) {
	.nav .content_nav .nav_items {
		width: 600px;
	}
}
@media screen and (max-width: 650px) {
	.nav .content_nav .nav_items {
		width: 400px;
	}
	.logo {
		width: 180px;
	}
	.content_nav {
		flex-direction: row-reverse;
	}
	.cta {
		display: none;
	}
	.nav .content_nav .nav_items {
		top: 55px;
	}
}
@media screen and (max-width: 450px) {
	.nav .content_nav .nav_items {
		width: 300px;
	}
}
