.header {
	background-color: var(--color-primary);
	width: 100%;
	height: 100px;
	top: 0;
	position: sticky;
	z-index: 2;
	display: flex;
}

.container_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.logo {
	width: 250px;
	aspect-ratio: 250/83;
	display: block;
}
.nav .icon {
	display: none;
}
.nav .nav_items {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.nav .nav_items a {
	text-decoration: none;
	color: #fff;
}
.nav .nav_items a:hover {
	color: var(--color-secondary);
}
.current-menu-item a {
	color: var(--color-secondary) !important;
}
.search_cta {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.cta {
	width: fit-content;
	height: 40px;
	background-color: var(--color-secondary);
	color: #fff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	gap: 5px;
	padding: 0 20px;
}

@media screen and (width <= 1250px) {
	.logo {
		order: 1;
		margin-right: auto;
	}
	.nav {
		order: 3;
	}
	.search_cta {
		order: 2;
	}
	.nav .icon {
		display: block;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 5px;
		cursor: pointer;
	}
	.nav .icon span {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size: 18px;
	}
	.nav .icon span.fa-xmark {
		display: none;
	}
	.nav .nav_items {
		display: none;
		background-color: var(--color-primary);
		position: absolute;
		right: 0;
		top: 100px;
		min-height: 50px;
		width: 100%;
		flex-wrap: wrap;
	}
	.nav .nav_items li a {
		height: 40px;
		justify-content: center;
		align-items: center;
		display: flex;
	}
}
@media screen and (width <= 850px) {
	.cta {
		display: none;
	}
}

@media screen and (width <= 550px) {
	.nav .nav_items {
		padding: 20px;
		gap: 5px;
	}
	.nav .nav_items li {
		width: 100%;
	}
	.nav .nav_items li a {
		justify-content: flex-start;
	}
}
