.inicio header {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.inicio header:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(26, 59, 137, 0.9);
}
.inicio header h2 {
	z-index: 1;
	color: var(--color-bg);
	font-size: clamp(50px, 8vw, 100px);
	font-weight: lighter;
	text-align: center;
}
.inicio header h2 strong {
	display: block;
	color: var(--color-secondary);
	font-size: clamp(30px, 8vw, 70px);
	// margin-top: 20px;
}
.inicio header span {
	color: var(--color-secondary);
	font-size: 20px;
	z-index: 1;
}
.inicio header p,
.inicio header .boton {
	z-index: 1;
}
.inicio header p {
	max-width: 600px;
	width: 90%;
	margin: 30px auto;
	color: var(--color-bg);
	text-align: center;
	font-size: 18px;
	line-height: 20px;
}
.boton {
	background-color: var(--color-secondary);
	color: var(--color-text);
	padding: 15px 30px;
	border-radius: 5px;
	text-decoration: none;
}
.boton:hover {
	scale: 1.2;
}

.mouse {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
	color: var(--color-bg);
}

/* Items */
.items {
	max-width: 1000px;
	width: 90%;
	margin: 80px auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	/* background-color: red; */
	gap: 30px;
}
.items .item {
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	min-height: 250px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	position: relative;
	border: 2px solid var(--color-secondary);
}

.items .item .icon {
	display: flex;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	color: var(--color-bg);
	background-color: var(--color-secondary);
	position: absolute;
	top: -45px;
	left: 50%;
	font-size: 25px;
	transform: translateX(-50%);
	border: 5px solid #fff;
	justify-content: center;
	align-items: center;
}

.items .item h2 {
	font-size: 25px;
	color: var(--color-primary);
	letter-spacing: 1px;
}

/* info */
.info {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.info_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 30px;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}
.info_content > div {
	flex: 1;
}
.info_text_title {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-secondary);
}
.info_text_title h2 {
	font-size: 30px;
	color: var(--color-primary);
	line-height: 35px;
	letter-spacing: 1px;
}
.info_text_parrafo p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}
.info:nth-child(even) {
	background-color: #f8fafb;
}
.info:nth-child(even) .info_content {
	flex-direction: row-reverse;
}

/* inmuebles */
.inmuebles {
	margin-top: 100px;
	margin-bottom: 100px;
}
.inmuebles_title {
	text-align: center;
	font-size: 30px;
}
.inmuebles_title h2 {
	color: var(--color-primary);
	font-size: 60px;
}

.btn_mas_inmuebles {
	background-color: var(--color-primary);
	color: var(--color-bg);
	display: block;
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	margin: 50px auto;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.btn_mas_inmuebles span {
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 10px;
	background-color: var(--color-secondary);
	border-radius: 10px;
	color: var(--color-bg);
}

.btn_mas_inmuebles:hover {
	background-color: transparent;
}
.btn_mas_inmuebles:hover span {
	top: 0px;
}

@media screen and (width < 910px) {
	.info_content,
	.info:nth-child(even) .info_content {
		padding: 50px;
	}
	.items .item .icon {
		top: -50px;
	}
}
@media screen and (width < 765px) {
	.info_content,
	.info:nth-child(even) .info_content {
		flex-direction: column-reverse;
		padding: 50px 0;
	}
}
@media screen and (width < 650px) {
	.info_image {
		width: 250px;
	}
	.inmuebles,
	.propiedades {
		margin-top: 40px;
	}
	.inmuebles_title h2 {
		font-size: 40px;
	}
}
@media screen and (width < 390px) {
	.inicio header h2 {
		font-size: 50px;
	}
}
