.single_page {
	max-width: 1000px;
	width: 90%;
	margin: 50px auto 50px;
}
.single_page .fecha {
	font-size: 12px;
	text-align: right;
	margin-bottom: 20px;
}
.single_page strong {
	color: #007f63;
}
.single_page h1,
.single_page h2,
.single_page h3,
.single_page h4,
.single_page h5,
.single_page h6 {
	margin-bottom: 20px;
	color: var(--color-primary);
}
.single_page h1 {
	margin-top: 50px;
	font-size: 60px;
	line-height: 75px;
}
.single_page h2 {
	font-size: 35px;
}
.single_page h3 {
	font-size: 30px;
}
.single_page h4 {
	font-size: 30px;
}
.single_page h5 {
	font-size: 20px;
}
.single_page h6 {
	font-size: 15px;
}
.single_page p {
	margin-bottom: 20px;
	font-size: 18px;
}
.single_page figure,
.single_page img {
	margin-bottom: 20px;
	border-radius: 20px;
}
.single_page img {
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}
.single_page a {
	color: var(--color-btn);
}
.single_page a.wp-block-button__link {
	color: var(--color-bg);
}
.single_page a:hover {
	color: var(--color-secondary);
}
.single_page ul,
.single_page ol {
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: 18px;
}

/* Más blogs */
.blog {
	margin-top: 100px;
}
.blog_title h2 {
	font-size: 30px;
	text-align: center;
	color: var(--color-secondary);
}
.blog_content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}
.blog_card {
	background-color: #fff;
	border-radius: 20px;
	position: relative;
	width: 300px;
	border: 1px solid #e1e1e1;
}
.blog_card img {
	border-radius: 20px 20px 0 0;
}
.blog_item_text {
	padding: 20px 30px;
}
.blog_item_text_title,
.blog_item_text_paragraph {
	margin-bottom: 20px;
}
.blog_item_text_title h3 {
	font-size: 20px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 0px;
	color: #1a3b89;
}
.blog_item_text_paragraph p {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 16px;
}

.btn_blogs {
	color: var(--color-tertiary);
	margin-top: 50px !important;
	color: var(--color-bg);
}
.align-center {
	margin: auto;
}
.post-views {
	display: none;
}
@media screen and (max-width: 850px) {
	.single_page h2 {
		font-size: 30px;
		line-height: 33px;
	}
	.single_page h3 {
		font-size: 25px;
	}
}
@media screen and (max-width: 650px) {
	.single_page h1 {
		font-size: 50px;
		line-height: 60px;
	}
}
